PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
	user_id INTEGER NOT NULL, 
	email VARCHAR(255) NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	hashed_password VARCHAR(255) NOT NULL, 
	PRIMARY KEY (user_id), 
	UNIQUE (email)
);
COMMIT;
